#container{
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
}
#calorieamount{
    margin: 25px;
}
#calorieamountinput{
    width: 10%;
    margin:auto;
    padding-top: 5px;
}
#fourthmeal {
    margin: 25px;
}
#foodlist {
    margin: auto;
    width: 70%;
    padding-top: 10px;
}
#foodlistitem {
    border-radius: 10px;
    border: 2px solid #808080;
    margin: 1px;
}
#foodlistaddcontainer{
    margin-top: 10px;
    padding-top: 2px;
}
#calculate {
    margin: auto;
    text-align: center;
}
#managefoods{
    width: 70%;
    margin: auto;
}
#managefoodslist{
    /*width: 50%;*/
    text-align: left;
}
p {
    margin: 0px;
}
#mealsmanagementitemingredient{
    text-align: left;
}
/*#managefoodslistitem {
    border-bottom: 2px solid #d5d5d5;
    margin: 2px; 
}*/